<h2>{{ category_name }}</h2>
<!-- Здесь мы выводим значение переменной category_name 
внутри тега <h2>. -->

<h2>{{ category.name }}</h2>
<!-- Здесь мы выводим значение свойства name объекта, хранящегося 
в переменной category. -->

<p>Всего категорий: {{ cats.count }}</p>
<!-- Здесь мы вызываем метод count набора записей cats и выводим 
его результат. -->

<h2>{{ cats.0.name }}</h2>
<!-- А здесь - значение свойства name объекта, хранящегося в первом 
элементе списка cats. -->

<td>{% if good.in_stock %}+{% endif %}</td>
<!-- Если значение свойства in_stock переменной шаблона равно True, 
выводим в ячей­ке таблицы символ плюса. -->

{% ifequal|ifnotequal <значение 1> <значение 2> %}
    <блок>
{% endifequal|endifnotequal %}
<!-- Здесь тег шаблона ifequal выводит блок, если указанные значения 
равны, а тег шаб­лона ifnotequal - если они не равны. -->


<!-- Параметр on этого тега включает автозамену специальных символов 
НТМL, а зна­чение off отключает ее: -->
{% autoescape off %}
    <p>{{ good.description }}</p>
{% endautoescape %}

<!-- Предположим, что переменная шаблона varl содержит пустую строку, 
var2 - ка­кое-либо число, отличное от нуля, а var3 - непустую 
строку. Тогда тег: -->
{% firstof varl var2 varЗ %}
<!-- выведет значение переменной var2, т.к. это первая в списке 
переменная с непус­тым и ненулевым значением. -->

<!-- Тег verbatirn запрещает шаблонизатору Django обрабатывать его 
содержимое: -->
{% verbatirn %}
    <h2>{{ category_narne }}</h2>
{% endverbatirn %}
<!-- выведет на экран строку {{ category_narne }}, являющуюся 
заголовком второго уровня. -->

<!-- Тег with пригодится в случаях, если мы собираемся многократно 
вывести значение какой-либо сложной структуры данных, скажем, 
объекта, вложенного в другой объект: -->
{% with cat=good.category %}
    <p><a href="/goods/{{ cat.id }}/">{{ cat.name }}</a></p>
{% endwith %}

<!-- Если нам потребуется указать в шаблоне один и тот же 
интернет-адрес несколько раз, мы можем сохранить его в 
отдельной переменной шаблона: -->
{% url "index" cat_id=cat.id as cat_url %}
<!-- Затем сохраняем готовый интернет-адрес в переменной шаблона 
cat_url: -->
<a href="{{ cat_url }}">{{ cat.name }}</a>
<!-- После чего вставляем его в код гиперссылки. -->
