<!-- Литералы, применяемые в описаниях формата даты и времени -->

j <!-- Число без начального нуля -->
d <!-- Число с начальным нулем -->
w <!-- Номер дня недели от О (воскресенье) до 6 (суббота) -->
m <!-- Месяц с начальным нулем -->
n <!-- Месяц без начального нуля -->
Е <!-- Название месяца на языке, определенном языковыми настройками -->
Y <!-- Год в виде четырехзначного числа -->
у <!-- Год в виде двухзначного числа -->
G <!-- Часы в 24-часовом формате без начального нуля -->
H <!-- Часы в 24-часовом формате с начальным нулем -->
g <!-- Часы в 12-часовом формате без начального нуля -->
h <!-- Часы в 12-часовом формате с начальным нулем -->
а <!-- Обозначение периода времени: "a.m." или "p.m." -->
А <!-- Обозначение периода времени: "АМ" или "РМ" -->
i <!-- Минуты -->
s <!-- Секунды с начальным нулем -->
I <!-- "1", если в данный момент действует летнее время, и "О" в противном случае -->
L <!-- True, если текущий год является високосным, и False в противном случае -->
t <!-- Количество дней в текущем месяце даты -->
z <!-- Номер дня в году -->
u <!-- Микросекунды -->
F <!-- Название месяца на английском языке -->
b <!-- Трехбуквенное обозначение месяца на английском языке со строчной первой -->
  <!-- буквой: "jan", "feb" и т. д. -->
M <!-- Трехбуквенное обозначение месяца на английском языке с прописной первой -->
  <!-- буквой: "Jan", "Feb" и т. д. -->
l <!-- Название дня недели на английском языке -->
D <!-- Трехбуквенное обозначение дня недели на английском языке: "Моп", ''Тuе" и т. д. -->
r <!-- Дата, отформатированная согласно требованиям документа RFC 2822 -->
T <!-- Обозначение временной зоны -->


<p>{{ blog_article.pubdate|date:"j.d.Y" }}</p>
<!-- Здесь мы выводим дату публикации статьи блога в привычном нам 
формате <число>.<месяц>.<год>. -->

<p>{{ blog_article.pubdate|date:"j.Е.У" }}</p>
<!-- А этот код выведет дату в более развернутом формате: 
<число>.<название меся­ца>.<год>. -->

<p>{{ blog_article.pubdate|time:"G:i" }}</p>
<!-- Здесь мы выводим время публикации статьи в формате <часы>: <минуты>. -->

{% if blog_article.pubdate|date:"L" %}
    <p>Високосный год.</p>
{% endif %}
<!-- А здесь проверяем, является ли год, когда была опубликована статья, 
високосным, и, если является, выводим соответствующее сообщение. -->
