<!-- Фильтры шаблона :::::::::::::::::::::::::::::::::::::::: -->
<!-- Фильтрыы шаблона либо выполняют какие-либо действия над 
значением передан­ной им переменной шаблона, либо вычисляют 
на основе этого значения какой-либо результат. -->

<p>{{ good.description|linebreaksbr }}</p>
<!-- Здесь мы заменяем в значении свойства description объекта 
good все символы перевода строки тегами <br> HTML. -->

<p>{{ good.price|floatformat:"2" }}</p>
<!-- А здесь выводим значение свойства price объекта good с 
округлением до двух цифр после запятой. -->

<!-- Фильтры шаблона :::::::::::::::::::: -->
аdd:<число> 
<!-- Складывает числовое значение и число -->

capfirst 
<!-- Переводит первую букву в строковом значении в верхний 
регистр -->

сut:<строка> 
<!-- Удаляет из строкового значения все вхождения параметра 
строка -->

dаtе:<формат> 
<!-- Форматирует дату согласно указанному формату -->

dеfаult:<значение> 
<!-- Если переменная хранит пустое и нулевое значение, 
возвращает указанное значение -->

default_if_nоnе:<значение> 
<!-- Если переменная хранит значение None, возвращает
указанное значение -->

divisiblebу:<делитель> 
<!-- Возвращает True, если числовое значение делится на указанный 
делитель без остатка -->

escape 
<!-- Заменяет в строковом значении все недопустимые символы 
HTML на литералы. Применяется внутри тега шаблона autoescape, 
отключающего такую автозамену -->

escapejs 
<!-- Преобразует строковое значение к виду, пригодному к 
использованию в Wеb-cценариях, которые написаны на языке 
JavaScript -->

first 
<!-- Возвращает первый элемент списка -->

floatformat:[<количество значаших цифр после точки>] 
<!-- Округляет числовое значение -->

last 
<!-- Возвращает последний элемент списка -->

length 
<!-- Возвращает размер списка -->

linebreaks 
<!-- Помещает строку в теги <p> и заменяет все переводы строки 
тегами <br> -->

linebreaksbr 
<!-- Заменяет все переводы строки тегами <br> -->

lower 
<!-- Преобразует все буквы строки в нижний регистр -->

random 
<!-- Возвращает случайно выбранный из списка элемент -->

safe 
<!-- Отключает для данного строкового значения преобразование 
недопустимых в HTML символов в литералы -->

striptags 
<!-- Удаляет из строки все теги HTML -->

time:<формат> 
<!-- Форматирует время согласно указанному параметру формат -->

title 
<!-- Преобразует первую букву каждого слова строки в 
верхний регистр -->

truncatechars:<кoличecтвo символов> 
<!-- Урезает строку до указанного в параметре количество
символов и добавляет в ее конце многоточие -->

truncatewords:<кoличecтвo слов> 
<!-- Урезает строку до указанного в параметре количество
слов и добавляет в ее конце многоточие -->

truncatewords_html:<количество слов> 
<!-- То же, что truncatewords, но с закрытием всех открытых 
тегов HTML -->

upper 
<!-- Урезает строку до размера, указанного в параметре
количество символов, и добавляет в ее конце многоточие -->

urlencode 
<!-- Урезает строку до размера, указанного в параметре
количество слов, и добавляет в ее конце многоточие -->

wordcount 
<!-- Возвращает количество слов в строке -->

уеsnо:<"список строк, перечисленных через запятую"> 
<!-- Если True, выводит первую строку из списка, если
False - вторую, если None - третью -->


<!-- Кстати, если нам нужно применить один и тот же фильтр или группу 
фильтров сра­зу к нескольким значениям, мы можем воспользоваться 
тегом шаблона filter: -->
{% filter linebreaksbr|striptags %}
<p>{{ good.name }}</p>
<p>{{ good.description }}</p>
{% endfilter %}
<!-- В результате фильтры linebreaksbr и striptags будут применены к 
значениям свойств name и description объекта good. -->
