{% for cat in cats %}
<li><a href="{% url 'cat' cat.id %}/">{{ cat.name }}</a></li>
{% endfor %}
<!-- А здесь мы выводим элементы списка cats. -->

<!-- Переменные цикла ::::::::::::::::::::::::::::::::::::::: -->
forloop.counter 
<!-- Номер текущего прохода цикла, начиная с 1 -->

forloop.counterO
<!-- Номер текущего прохода цикла, начиная с О -->

forloop.revcounter 
<!-- Номер текущего прохода цикла, отсчитанный с его конца, начиная с 1 -->

forloop.revcounterO 
<!-- Номер текущего прохода цикла, отсчитанный с его конца, начиная с 0 -->

forloop.first 
<!-- True, если это первый проход цикла -->

forloop.last
<!-- True, если это последний проход цикла -->

forloop.parentloop
<!-- Ссылается на внешний цикл для доступа к значениям его
переменных (для вложенных циклов) -->

{% if forloop.first %}
    <h2>Категории:</h2>
{% endif %}

{% cycle <список значений, разделенных пробелами> %}
<!-- При первом проходе цикла этот тег вернет первое значение из 
перечисленных в нем, при втором -второе значение, при 
третьем - третье и т.д. Когда значения закончатся, их перебор 
начнется с начала, т.е. при очередном проходе цикла снова
будет возвращено первое значение, при втором -второе и т.д. -->

{% for good in goods %}
    <tr class="{% cycle 'normal' 'alternate'"></tr>
{% endfor %}
<!-- Здесь при нечетных проходах цикла к строке таблицы будет 
привязан стилевой класс normal, а при четных - alternate. -->

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->