{% extends 'base.html' %}

{% block content %}
<section>
    <div class="body">
        {% include 'components/_sidebar.html' %}
        <div class="col-md-9">
            <h4>Категория: {{ category.name }}</h4>
            <a href="{% url 'post_add' category.name %}">Добавить пост</a>
            {% for post in object_list %}
                <article>
                    <a href="{% url 'post' post.title %}">
                        <h4>{{ post.title }}</h4>
                        <p>{{ post.description|truncatewords:50 }}</p>
                    </a>
                </article>
            {% endfor %}
            {% include 'components/_blog-paginator.html' %}
        </div>
    </div>
</section>
{% endblock %}