{% extends 'base.html' %}

{% block content %}
<section>
    <div class="body">
        {% include 'components/_goods-sidebar.html' %}
        <div class="col-md-9">
            <h4>{{ category.name }}</h4>
            <p>{{ category.description }}</p>
            <a href="{% url 'good_add' category.name %}">Добавить товар</a>
            <h4>Книги:</h4>
            <table>
                <tr>
                    <th>Название</th>
                    <th>Есть в наличии</th>
                </tr>
                {% for good in object_list %}
                <tr>
                    <td><a href="{% url 'good' good.name %}">{{ good.name }}</a></td>
                    <td class="centered">{% if good.in_stock %}+{% endif %}</td>
                    <td class="centered">
                        <a href="{% url 'good_edit' good.name %}">Изменить</a>
                    </td>
                    <td class="centered">
                        <a href="{% url 'good_del' good.name %}">Удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% include 'components/_good-paginator.html' %}
        </div>
    </div>
</section>
{% endblock %}