{% extends 'base.html' %}
{% load comments %}

{% block content %}
<section>
	<div class="body">
		{% include 'components/_sidebar.html' %}
		<div class="col-md-9">
			<h3>{{ good.name }}</h3>
			<p>{{ good.description }}</p>
			{% if not good.in_stock %}
				<h5>Нет в наличии</h5>
			{% endif %}
			<a href="{{ prev_page }}">Назад</a>
			<div class="comments">
				{% get_comment_count for good as good_comments_count %}
				<p>Количество комментариев: {{ good_comments_count }}</p>
				<hr />
				{% render_comment_list for good %}
				<hr />
				{% render_comment_form for good %}
			</div>
		</div>
	</div>
</section>
{% endblock %}