{% extends 'base.html' %}

{% block content %}
<section>
	<div class="body">
		<div class="col-md-3 sidebar">
			<h4>Категории:</h4>
			<ul>
				{% for cat in categories %}
					<li><a href="{% url 'category' cat.name %}">{{ cat.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-9">
			<h3>{{ good.name }}</h3>
			<p>{{ good.description }}</p>
			{% if not good.in_stock %}
				<h5>Нет в наличии</h5>
			{% endif %}
			<a href="{% url 'category' good.category.name %}">Назад</a>
		</div>
	</div>
</section>
{% endblock %}